.s_banner_not_int {
    width: 100%;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 30px 30px;
}

.s_banner_not_int .miga {
    position: relative;
    z-index: 2;
}

/* .s_banner_not_int .miga a,
.s_banner_not_int .miga span {
    color: #fff;
} */

.s_banner_not_int:before,
.s_banner_not_int:after {
    content: "";
    width: 70px;
    height: 20px;
    position: absolute;
    z-index: 2;
    background: url(https://paxzupruebas.com/maquetas/oikos_constructora/nueva/images/diseno/noticias/dots.svg) no-repeat center;
}

.s_banner_not_int:before {
    top: 40px;
    left: 40px;
}

.s_banner_not_int:after {
    bottom: 40px;
    right: 40px;
}

.s_banner_not_int .cnt_central {
    height: 100%;
}

.img_dest_not_int {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img_dest_not_int img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_dest_not_int::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(46, 47, 78, 0.67), rgba(46, 47, 78, 0.67));
    mix-blend-mode: multiply;
}

.cnt_inf_h_nota_int {
    width: 100%;
    height: 80%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.cat_not_int {
    display: flex;
    gap: 6px;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 8px 3px;
}

.cat_not_int:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-left: 8px solid var(--c_pri);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.h_not_int {
    width: 100%;
    max-width: 750px;
    color: #fff;
    font-size: 54px;
    font-weight: 900;
    line-height: 100%;
    text-align: left;
    padding: 12px 0;
}

.row_fecha_redes {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}

.fecha_not_int {
    font-size: 15px;
    color: #fff;
}

.cnt_compartit_h_not_int {
    display: flex;
    align-items: center;
    gap: 8px;
}

.etq_compartir_h_not_int {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.cnt_redes_h_not_int {
    display: flex;
    align-items: center;
    gap: 4px;
}

.red_h {
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    font-family: "icomoon";
    cursor: pointer;
    transition: all 0.3s;
}

.red_h:hover {
    background: #fff;
    color: var(--c_pri);
}

.s_cuerpo_not_int {
    width: 100%;
    position: relative;
    padding: 40px 0;
}

.s_cuerpo_not_int .cnt_central {
    position: initial;
}

.cnt_nota_int {
    width: 100%;
    max-width: 847px;
    margin: auto;
}

.cnt_top_nota_int {
    width: 100%;
    display: flex;
    gap: 20px;
}

.col_compartir_nota {
    width: 90px;
    min-width: 90px;
    position: relative;
}

.cnt_redes_nota {
    background: #FFFFFF;
    box-shadow: 0px 8px 17px -4px #98A8E3;
    border-radius: 4px;
    position: sticky;
    top: 130px;
    width: 38px;
    overflow: hidden;
    text-align: center;
}

.red_nota {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-family: "icomoon";
    color: var(--c_pri);
    cursor: pointer;
}

.red_nota:hover {
    background: var(--c_pri);
    color: #fff;
}

.col_nota_int {
    width: 100%;
    flex-grow: 1;
    text-align: left;
}

:host ::ng-deep .txt_nota_int {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 140%;
}

:host ::ng-deep .txt_nota_int .section a {
    color: var(--color-c2);
}

:host ::ng-deep .txt_nota_int ul {
    padding-left: 24px;
    box-sizing: border-box;
}

:host ::ng-deep .txt_nota_int h2 {
    font-size: 32px;
    font-weight: 900;
    padding: 12px 0;
    color: var(--color-c2);
}

:host ::ng-deep .txt_nota_int h3 {
    font-size: 20px;
    color: var(--color-c2);
    font-weight: 900;
    padding: 8px 0;
}

.row_cta {
    width: 100%;
    text-align: center;
    padding: 48px 0;
}

.cnt_not_interes_int {
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cnt_ant_sig_not_int {
    width: 100%;
}

.bnt_ant_sig_nota {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 12px 20px;
    position: absolute;
    top: 40px;
    width: 225px;
    min-height: 110px;
    overflow: hidden;
    z-index: 1;
}

.bnt_ant_sig_nota.scrolled {
    position: fixed;
    top: 130px;
}

.bnt_ant_sig_nota:hover {
    background: var(--c_pri);
}

.bnt_ant_sig_nota:hover .img_btn_ant_sig {
    opacity: 0.08;
}

.bnt_ant_sig_nota:hover .cnt_h_ant_sig_not,
.bnt_ant_sig_nota:hover .txt_ant_sig_not {
    color: #fff;
}

.bnt_ant_sig_nota:hover .ic_ant_sig {
    max-width: 100px;
    color: #fff;
}

.bnt_ant_sig_nota.nota_ant,
.bnt_ant_sig_nota.nota_sig {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bnt_ant_sig_nota.nota_ant {
    border-radius: 0 12px 12px 0;
    text-align: left;
    left: 0;
}

.bnt_ant_sig_nota.nota_ant:hover .ic_ant_sig {
    padding-right: 8px;
}

.bnt_ant_sig_nota.nota_sig {
    border-radius: 12px 0 0 12px;
    text-align: right;
    right: 0;
}

.bnt_ant_sig_nota.nota_sig:hover .ic_ant_sig {
    padding-left: 8px;
}

.bnt_ant_sig_nota.nota_sig .cnt_h_ant_sig_not {
    justify-content: flex-end;
}

.img_btn_ant_sig {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}

.img_btn_ant_sig img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cnt_h_ant_sig_not {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #282828;
}

.ic_ant_sig {
    max-width: 0;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    font-size: 18px !important;
}

.txt_ant_sig_not {
    width: 100%;
    font-size: 14px;
    line-height: 120%;
    color: #282828;
}

.row_banner_not_int {
    display: flex;
    justify-content: center;
    padding: 48px 0;
}

.cnt_banner_proy_not_int {
    width: 100%;
    max-width: 600px;
    display: flex;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(226, 229, 247, 0.37) 0%, #FFFFFF 100%);
    box-shadow: 0px 23px 23px -17px rgba(152, 168, 227, 0.38);
    border-radius: 8px;
    position: relative;
}

.cnt_banner_proy_not_int::before,
.cnt_banner_proy_not_int:after {
    content: "";
    width: 12px;
    height: 42px;
    background: url(https://paxzupruebas.com/maquetas/oikos_constructora/nueva/images/diseno/noticias/dots_sm.svg) center;
    position: absolute;
}

.cnt_banner_proy_not_int::before {
    bottom: 16px;
    left: 16px;
}

.cnt_banner_proy_not_int::after {
    top: 16px;
    right: 16px;
}

.img_banner_proy_not_int {
    width: 50%;
}

.img_banner_proy_not_int img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.inf_banner_proy_not_int {
    width: 50%;
    box-sizing: border-box;
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inf_banner_proy_not_int .btn {
    text-align: center;
    justify-content: center;
}

.h_ban_proy_not_int {
    width: 100%;
    font-size: 18px;
    color: var(--color-c2);
}

.h_ban_proy_not_int span {
    font-weight: 900;
    font-size: 24px;
}

.h_not_interes_int {
    width: 100%;
    font-size: 32px;
    color: var(--color-c2);
    font-weight: 32px;
    font-weight: 900;
    padding: 24px 0;
}

.cnt_cards_not_interes_int {
    display: flex;
    width: 100%;
    gap: 24px;
}

.card_not_list {
    width: 32%;
    max-width: 305px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.card_not_list:hover {
    box-shadow: 0px 14px 15px -9px rgba(152, 168, 227, 0.42);
}

.card_not_list:hover .ic_arrow_otra_nota_int {
    transform: translate(0, -8px);
    opacity: 1;
}

.img_card_not_int {
    width: 100%;
    height: 143px;
    overflow: hidden;
}

.img_card_not_int img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cnt_inf_card_not {
    width: 100%;
    flex-grow: 1;
    padding: 16px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #fff;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
}

.fecha_nota_card_int {
    color: #B3B3B3;
    font-size: 13px;
}

.h_otra_not_dest {
    color: var(--color-c2);
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
}

.txt_otra_not_dest {
    color: #000;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.row_ic_arrow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ic_arrow_otra_nota_int {
    color: #FDB718;
    transform: translate(-20px, -8px);
    opacity: 0;
    transition: all 0.5s;
}

.cnt_not_interes_int .row_cta{
    padding: 16px 0;
}


/* RESPONISIVE */
@media screen and (max-width: 1300px) {

    /*******INTERNA********/
    .bnt_ant_sig_nota {
        width: 175px;
    }

    /**********************/
}

@media screen and (max-width: 1200px) {
    .cnt_ant_sig_not_int {
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-top: 1px solid #ccc;
    }

    .bnt_ant_sig_nota {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        width: 48%;
        min-height: inherit;
        max-width: 400px;
        box-shadow: none;
        border-radius: none;
        background: transparent;
    }

    .cnt_h_ant_sig_not {
        gap: 12px;
    }

    .ic_ant_sig {
        max-width: 100px;
    }
}

@media screen and (max-width: 1050px) {
    .col_nota_int{
        width: 90%;
    }
    .h_not_int {
        font-size: 40px;
    }
    /*** proyectos en noticia ***/
    .cnt_proy_in_note{
        flex-flow: row nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        justify-content: flex-start;
        padding: 0 16px 40px;
    }
    .cnt_proy_in_note::-webkit-scrollbar{
        height: 4px;
    }
    .cnt_proy_in_note::-webkit-scrollbar-track{
        background: #f3f3f3;
        border-radius: 4px;
    }
    .cnt_proy_in_note::-webkit-scrollbar-thumb{
        background: var(--color-c2);
        border-radius: 4px;
    }
    .card_p{
        flex:none;
        scroll-snap-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

}

@media screen and (max-width: 768px) {
    .cnt_nota_int, .cnt_not_interes_int {
        padding: 0 ;
    }
    
    .col_compartir_nota {
        min-width: inherit;
    }

    .h_nota_int {
        font-size: 30px;
    }

    :host ::ng-deep .txt_nota_int h2 {
        font-size: 24px;
        line-height: 120%;
    }

    :host ::ng-deep .txt_nota_int h3 {
        font-size: 18px;
    }

    .row_banner_not_int {
        padding: 16px 0;
    }

    .inf_banner_proy_not_int {
        padding: 12px 24px;
    }

    .cnt_cards_not_interes_int {
        flex-direction: column;
    }

    .card_not_list {
        width: 100%;
        max-width: inherit;
        flex-direction: row;
    }

    .img_card_not_int {
        height: auto;
    }

    .cnt_inf_card_not {
        margin: 0;
        justify-content: center;
        border-radius: 0;
    }
}

@media screen and (max-width: 480px) {
    .cnt_inf_h_nota_int {
        gap: 12px;
        padding-left: 32px;
    }

    .h_not_int {
        font-size: 24px;
    }

    .row_fecha_redes {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .row_fecha_redes>span {
        display: none;
    }

    .cnt_redes_nota {
        position: fixed;
        top: 120px;
        left: 0;
    }

    .row_fecha_autor .fecha_nota {
        border: none;
    }

    :host ::ng-deep .txt_nota_int {
        padding-top: 0;
    }

    .cnt_cards_not_interes_int {
        flex-direction: column;
    }

    .txt_ant_sig_not {
        display: none;
    }

    .cnt_banner_proy_not_int .btn {
        line-height: 16px;
        font-size: 13px;
        padding: 6px 12px;
        height: auto;
    }

    .h_ban_proy_not_int {
        font-size: 14px;
    }

    .h_ban_proy_not_int span {
        font-size: 16px;
    }
}

/*# sourceMappingURL=noticia_interna.css.map */