<div class="bg_gracias">

    <section class="s_gracias_404">
        <div class="cnt_central">
            <div class="c_gracias_404">
                <picture>
                    <img width="393" height="240" src="assets/images/diseno/gracias_404/gracias_img.png" alt="">
                </picture>
                <h1>{{data.texto1_gracias_proyecto}}</h1>
                <h3>{{data.texto2_gracias_proyecto}}</h3>
                <a routerLink="/" class="btn al-center">Volver al inicio</a>
            </div>
        </div>
    </section>

</div>

<section class="s_carr_proy">

    <span class="bg_round">
        <span></span>
    </span>

    <div class="cnt_central">

        <h2 class="title_section al_center"> <span>Proyectos </span> en construcción </h2>

        <div class="cnt_car_proy_dest">
            <app-slide-projects></app-slide-projects>
        </div>
    </div>
</section>