.c_gracias_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 40px 20px 100px;
  }
  .c_gracias_404 picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c_gracias_404 picture img {
    object-fit: contain;
  }
  .c_gracias_404 picture:before {
    content: "";
    position: absolute;
    left: -30%;
    top: 30%;
    width: 76px;
    height: 43px;
    background: url("../../../../../assets/images/diseno/gracias_404/puntos1.svg") no-repeat center;
    background-size: contain;
    z-index: 1;
  }
  .c_gracias_404 picture:after {
    content: "";
    position: absolute;
    right: -20%;
    top: 15%;
    width: 20px;
    height: 70px;
    background: url("../../../../../assets/images/diseno/gracias_404/puntos2.svg") no-repeat center;
    background-size: contain;
    z-index: 1;
  }
  
  h1 {
    font-size: 53px;
    background: linear-gradient(180deg, #2C3EA0 0%, #131D54 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 10px;
    line-height: 1;
  }
  h1 span {
    font-weight: 800;
  }
  
  h2 {
    font-weight: 600;
    max-width: 550px;
    margin: 30px 0;
    line-height: 1.2;
    text-align: center;
  }
  
  .txt_page {
    font-size: 20px;
    max-width: 530px;
    margin: 0 0 20px;
  }
  
  .c_404 {
    height: 60vh;
    padding: 60px 0 100px;
    position: relative;
  }
  .c_404:after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 90px;
    background: url("../../../../../assets/images/diseno/gracias_404/tuercas.svg") no-repeat center;
    background-size: contain;
  }
  .c_404 .btn {
    height: 40px;
  }
  
  .bg_gracias {
    background: linear-gradient(to top, rgba(233, 237, 247, 0.16), #E8EBF1);
    background-blend-mode: normal, color;
    position: relative;
    padding-top: 40px;
  }
  .bg_gracias h1 {
    font-weight: 300;
    margin: 40px 0 10px;
    text-align: center;
  }
  .bg_gracias h1 b {
    font-weight: 800;
  }
  .bg_gracias h3 {
    font-size: 24px;
    line-height: 1.3;
    color: #131D54;
    max-width: 550px;
    margin: 0px auto 30px;
    text-align: center;
  }
  .bg_gracias::before {
    content: "";
    position: absolute;
    left: 2%;
    top: 10%;
    background: url("../../../../../assets/images/diseno/gracias_404/puntos2.svg") no-repeat center;
    background-size: contain;
    width: 30px;
    height: 90px;
  }
  .bg_gracias::after {
    content: "";
    position: absolute;
    right: 2%;
    bottom: 10%;
    background: url("../../../../../assets/images/diseno/gracias_404/puntos2.svg") no-repeat center;
    background-size: contain;
    width: 30px;
    height: 90px;
    transform: rotate(180deg);
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 32px;
    }
    .c_gracias_404 {
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      margin: -40px 0 0;
    }
    picture:before, picture:after {
      display: none;
    }
    .c_404 {
      height: initial;
      margin-top: 0;
      padding-top: 60px;
    }
  }/*# sourceMappingURL=gracias_404.css.map */