<div class="bg_gracias">

    <section class="s_gracias_404">
        <div class="cnt_central">
            <div class="c_gracias_404">
                <picture>
                    <img width="393" height="240" src="assets/images/diseno/gracias_404/gracias_img.png" alt="">
                </picture>
                <h1>{{data.texto1_gracias_proyecto}}</h1>
                <h3>{{data.texto2_gracias_proyecto}}</h3>
                <a routerLink="/" class="btn al-center">Volver al inicio</a>
            </div>
        </div>
    </section>

</div>

<section class="s_carr_proy">




    <span class="bg_round">
        <span></span>
    </span>

    <div class="cnt_central">

        <h2 class="title_section al_center"> <span>Proyectos </span> en construcción </h2>

        <div class="cnt_car_proy_dest">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card_p">
                            <picture>
                                <span class="tag_state" style="background-color: Yellow;">Lanzamiento</span>
                                <div class="btns_icons">
                                    <a href="" class="btn_icon">
                                        <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20"  alt="">
                                    </a>
                                    <a href="" class="btn_icon">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </a>
                                </div>
                                <img width="350" height="219" src="assets/images/diseno/proyectos_vivienda/img_proyecto.jpg" alt="">
                            </picture>
                            <h2 class="name_proyecto">
                                <picture>
                                    <img width="87" height="87" src="assets/images/diseno/proyectos_vivienda/logo_proyecto.jpg" alt="">
                                </picture>
                                <div>San Pablo Sport Club</div>
                            </h2>
                            <div class="datos_proyecto">
                                <h3>Cundinamarca / Fusagasugá</h3>
                                <h4><span>Desde</span> $238.686.400 </h4>
                            </div>
                            <div class="franja_p">
                                <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
                                <span> Aplica subsidio de vivienda VIS </span>
                            </div>
                            <div class="ctas_proyectos">
                                <a href="" class="btn_whatsapp">
                                    <span class="fab fa-whatsapp"></span> contactar
                                </a>
                                <a href="" class="btn">ver proyectos</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card_p">
                            <picture>
                                <span class="tag_state" style="background-color: Yellow;">Lanzamiento</span>
                                <div class="btns_icons">
                                    <a href="" class="btn_icon">
                                        <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20"  alt="">
                                    </a>
                                    <a href="" class="btn_icon">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </a>
                                </div>
                                <img width="350" height="219" src="assets/images/diseno/proyectos_vivienda/img_proyecto.jpg" alt="">
                            </picture>
                            <h2 class="name_proyecto">
                                <picture>
                                    <img width="87" height="87" src="assets/images/diseno/proyectos_vivienda/logo_proyecto.jpg" alt="">
                                </picture>
                                <div>San Pablo Sport Club</div>
                            </h2>
                            <div class="datos_proyecto">
                                <h3>Cundinamarca / Fusagasugá</h3>
                                <h4><span>Desde</span> $238.686.400 </h4>
                            </div>
                            <div class="franja_p">
                                <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
                                <span> Aplica subsidio de vivienda VIS </span>
                            </div>
                            <div class="ctas_proyectos">
                                <a href="" class="btn_whatsapp">
                                    <span class="fab fa-whatsapp"></span> contactar
                                </a>
                                <a href="" class="btn">ver proyectos</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card_p">
                            <picture>
                                <span class="tag_state" style="background-color: Yellow;">Lanzamiento</span>
                                <div class="btns_icons">
                                    <a href="" class="btn_icon">
                                        <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20"  alt="">
                                    </a>
                                    <a href="" class="btn_icon">
                                        <span class="fas fa-map-marker-alt"></span>
                                    </a>
                                </div>
                                <img width="350" height="219" src="assets/images/diseno/proyectos_vivienda/img_proyecto.jpg" alt="">
                            </picture>
                            <h2 class="name_proyecto">
                                <picture>
                                    <img width="87" height="87" src="assets/images/diseno/proyectos_vivienda/logo_proyecto.jpg" alt="">
                                </picture>
                                <div>San Pablo Sport Club</div>
                            </h2>
                            <div class="datos_proyecto">
                                <h3>Cundinamarca / Fusagasugá</h3>
                                <h4><span>Desde</span> $238.686.400 </h4>
                            </div>
                            <div class="franja_p">
                                <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
                                <span> Aplica subsidio de vivienda VIS </span>
                            </div>
                            <div class="ctas_proyectos">
                                <a href="" class="btn_whatsapp">
                                    <span class="fab fa-whatsapp"></span> contactar
                                </a>
                                <a href="" class="btn">ver proyectos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>