<div class="cnt_car_proy_dest">
    <div class="swiper-container">
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let i of projects">
                <div class="card_p">
                    <picture>
                        <span class="tag_state" [ngStyle]="{'background-color': i?.color_secundario}">{{i?.estado_proyecto}}</span>
                        <div class="btns_icons">
                            <a [href]="i?.vista360" target="_blank" class="btn_icon" *ngIf="i?.vista360">
                                <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20">
                            </a>
                            <a [href]="i?.url_waze" target="_blank" *ngIf="i?.url_waze" class="btn_icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </a>
                        </div>
                        <a [routerLink]="['/proyecto', i?.url_amigable]">
                            <img width="350" height="219" 
                                defaultImg
                                [src]="BASE_URL+i?.imagen_principal_proyecto" 
                                [alt]="i?.alt_principal" 
                                [title]="i?.title_principal">
                        </a>
                    </picture>
                    <h2 class="name_proyecto" [ngStyle]="{'background-color': i?.color_primario}">
                        <picture>
                            <img width="87" height="87" defaultImg
                                [src]="BASE_URL+i?.logo_proyecto" 
                                [alt]="i?.alt_logo" 
                                [title]="i?.title_logo">
                        </picture>
                        <div>{{i?.titulo_proyecto}}</div>
                    </h2>
                    <div class="datos_proyecto">
                        <h3>{{i?.zona_proyecto}} / {{i?.ubicacion_proyecto}}</h3>
                        <h4><span>Desde</span>${{i?.valor_proyecto_formato}} </h4>
                    </div>
                    <div class="franja_p">
                        <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
                        <span>{{i?.texto_adicional}}</span>
                    </div>
                    <div class="ctas_proyectos">
                        <a [href]="i?.api_wsp" target="_blank" class="btn_whatsapp" *ngIf="i?.api_wsp">
                            <span class="fab fa-whatsapp"></span> contactar
                        </a>
                        <a [routerLink]="['/proyecto', i?.url_amigable]" class="btn">ver proyecto</a>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>


