<div class="cnt_car_proy_dest">
    <div class="swiper-container">
        <swiper [config]="config">
            <ng-template swiperSlide *ngFor="let i of projects">
                <div class="card_p">
                    <picture>
                        <span class="tag_state" [ngStyle]="{'background-color': i?.color_secundario}">{{i?.estado_proyecto}}</span>
                        <div class="btns_icons" *ngIf="i?.vista360 && i?.url_waze">
                            <a [href]="i?.vista360" target="_blank" class="btn_icon" *ngIf="i?.vista360">
                                <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20">
                            </a>
                            <a [href]="i?.url_waze" target="_blank" *ngIf="i?.url_waze" class="btn_icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </a>
                        </div>
                        <a *ngIf="i?.interna === 'si'; else notRedirect" 
                            routerLink="/proyecto/{{i?.url_amigable}}">
                            <img width="350" height="219" 
                            defaultImg [src]="BASE_URL+i?.imagen_principal_proyecto" 
                            [alt]="i?.alt_principal" 
                            [title]="i?.title_principal">
                        </a>
                        <ng-template #notRedirect>
                            <img width="350" height="219" 
                            defaultImg
                            [src]="BASE_URL+i?.imagen_principal_proyecto" 
                            [alt]="i?.alt_principal" 
                            [title]="i?.title_principal">
                        </ng-template>
                    </picture>
                    <h2 class="name_proyecto" [ngStyle]="{'background-color': i?.color_primario}">
                        <picture>
                            <img width="87" height="87" defaultImg
                                [src]="BASE_URL+i?.logo_proyecto" 
                                [alt]="i?.alt_logo" 
                                [title]="i?.title_logo">
                        </picture>
                        <div>{{i?.titulo_proyecto}}</div>
                    </h2>
                    <div class="datos_proyecto">
                        <h3>{{i?.zona_proyecto}} / {{i?.ubicacion_proyecto}}</h3>
                        <h4 *ngIf="i?.valor_proyecto_formato">
                            <span>Desde</span>
                            ${{i?.valor_proyecto_formato}} 
                        </h4>
                        <div class="precio_usd" *ngIf="i?.dollar_value">
                            Precio de referencia 
                            <b>USD {{i?.dollar_value | thousandNumber:'es'}}</b>
                        </div>
                    </div>
                    <div class="franja_p">
                        <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
                        <span>{{i?.texto_adicional}}</span>
                    </div>
                    <div class="ctas_proyectos" 
                    *ngIf="i?.interna === 'si'; else redirect">
                        <a class="btn_whatsapp c-pointer" (click)="selectProjectToModal(i)">
                            <span class="fab fa-whatsapp"></span> 
                            Contactar
                        </a>

                        <a routerLink="/proyecto/{{i?.url_amigable}}" 
                            class="btn">
                            Ver proyecto
                        </a>

                    </div>

                    <ng-template #redirect>
                        <div class="ctas_proyectos" [ngStyle]="{'grid-template-columns': '2fr 1fr'}">
                            <a  class="btn" (click)="selectProjectToPreLaunch(i)">
                                Inscribirse
                            </a>
                        </div>
                        
                    </ng-template>
                </div>
            </ng-template>
        </swiper>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<app-modal-pre-launch-project   [modalEvent]="notifyChangesPreLaunchProject.asObservable()" 
                                [project]="projectSelectedToModal">
</app-modal-pre-launch-project>

<!-- modal wpp -->
<app-wpp-modal-project  [modalEvent]="notifyChanges.asObservable()" 
                        [project]="projectSelectedToModal">
</app-wpp-modal-project>


