<div class="suscribeteEnergia">
    <div class="central">
        <div class="cont_Suscribete">
            <div class="txt_sus">
                <div class="titleSuscribete">
                    Suscríbete
                </div>
                <div class="txtSuscribete">
                    conoce más sobre nosotros, registra tu corre y queda informado con lo más actual de Polinex
                </div>
                <div class="saltoSuscribete"></div>
            </div>
            <div class="form_sus">
                <form>
                    <div>
                        <input type="email" class="mail" placeholder="Correo">
                        <input type="submit" value="enviar" class="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>