
    <div class="s_proyecto_vivienda">
        <div class="cnt_central">
            <app-breadcrumb></app-breadcrumb>

            <h1 class="title_section al_center"> <span>Proyectos </span> Ejecutados </h1>
        </div>
        <div class="c_proyecto_vivienda">
            <h1 class="title_section al_center" [innerHTML]="data.titulo_proyecto_vivienda"></h1>
            <div class="container_filtro">
                <div class="act_filtro_mobile" (click)="toogleContainerSearch()">
                    <h3>
                        {{data.titulo_busqueda}}
                    </h3>
                    <a class="btn_icon_search">
                        <span class="fas fa-search"></span>
                    </a>
                </div>
                <form class="filtro_proyectos">
                    <select #nomCiudad (change)="getCiudad(nomCiudad.value)" class="filtroCiudad">
                        <option value="NA" selected>Ciudad</option>
                        <option value="{{i?.id}}" *ngFor="let i of ciudades">{{i?.field_content}}</option>
                    </select>
                    <select #nomTipo (change)="getTipo(nomTipo.value)" class="filtroTipo">
                        <option value="NA" selected>Tipo de vivienda</option>
                        <option value="{{i?.id}}" *ngFor="let i of typesProject">{{i?.field_content}}</option>
                    </select>
                    <!-- <select #nomPrecio class="precio filtroPrecio" (change)="getPrecio(nomPrecio.value)">
                        <option value="NA" selected>Precio</option>
                        <option value="{{i?.rango}}" *ngFor="let i of precios">{{i?.mostrar}}</option>
                    </select> -->
                    <div class="cont_filtr_btns">
                        <button type="button" class="btn_link_reset" (click)="limpiarFiltros()">Limpiar 
                            <span class="fas fa-times"></span> 
                        </button>
                        <button type="button" class="btn" (click)="buscarProyectos()">Buscar 
                            <span class="fas fa-search"></span> 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><br><br><br>

    <section class="s_list_proy_dest">
        <div class="cnt_central">

            <div class="cnt_list_proy_ejec">

                <div class="card_p proy_dest" *ngFor="let i of proyectos">
                    <picture>
                        <!-- <span class="tag_state" style="background-color: Yellow;">Lanzamiento</span> -->
                        <!--<div class="btns_icons" *ngIf="i?.url_waze!='' || i?.url_waze!=null">
                            <a href="{{i?.url_waze}}" target="_blank" rel="nofollow,noopener" class="btn_icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </a>
                        </div>-->
                        <img width="350" height="219" src="{{imagenes_url+i?.imagen_principal_proyecto}}" alt="{{i?.alt_fondo}}" title="{{i?.title_fondo}}">
                    </picture>
                    <h2 class="name_proyecto">
                        <picture>
                            <img width="87" height="87" src="{{imagenes_url+i?.logo_proyecto}}" alt="{{i?.alt_logo}}" title="{{i?.title_logo}}">
                        </picture>
                        <div>{{i?.titulo_proyecto}}</div>
                    </h2>
                    <div class="datos_proyecto">
                        <h3>{{i?.zona_proyecto}} / {{i?.ubicacion_proyecto}}</h3>
                        <div class="campo_anno">1990</div>
                    </div>
                    <div class="ctas_proyectos">
                        <a routerLink="/proyecto/{{i?.url_amigable}}" class="btn">Ver proyecto</a>
                    </div>
                </div>

            </div>
            <div class="row_bnt" *ngIf="total.length>proyectos.length" (click)="cargarMas()">
                <div class="btn">Cargar más proyectos</div>
            </div>

        </div>
    </section>

    <section class="s_carr_proy">

        <span class="bg_round">
            <span></span>
        </span>

        <div class="cnt_central">

            <h2 class="title_section al_center"> <span>Proyectos </span> en venta</h2>

            <div class="cnt_car_proy_dest">
                <app-slide-projects></app-slide-projects>
            </div>
        </div>
    </section>