
<div class="btn_flt_encuesta" (click)="activarEncuesta()">
    <img src="assets/images/diseno/ic_encuesta.svg" alt="">
</div>
<div class="layer" [ngClass]="{'active' : activarEncuestaS}">
    <div class="cnt_gen_modal">

        <div class="cnt_modal">
            <div class="cerrar_modal" (click)="activarEncuesta()">
                <span class="material-icons">cancel</span>
            </div>

            <form action="" class="cnt_form_modal ">

                <!-- portada -->
                <div class="cnt_sec_modal portada active"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                        <div class="txt_modal">
                            Esta encuesta no te tomará más de 2 minutos
                        </div>
                    </div>
                    <div class="portada_modal">
                        <div class="logo_modal">
                            <img src="assets/images/diseno/logo_constructora.svg" alt="">
                        </div>
                        <div class="btn btn_modal" (click)="avanzar('paso1')">Continuar</div>
                    </div>
                </div>

                <!-- seccion 1 -->
                <div class="cnt_sec_modal paso1"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                    </div>
                    <div class="cnt_preg">
                        <div class="list_dropdown">
                            <div class="cntpreg_dropdown">
                                <div class="txt_preg">
                                    1. ¿Cuál es su sexo?
                                </div>
                                <select name="" class="input inp_modal" id="">
                                    <option value="">Seleccione</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="cntpreg_dropdown">
                                <div class="txt_preg">
                                    ¿En qué rango de edad se encuentra?
                                </div>
                                <select name="" class="input inp_modal" id="">
                                    <option value="">Seleccione</option>
                                    <option value="">27 a 59 años</option>
                                    <option value="">--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row_preg_1">
                            <div class="btn btn_modal" (click)="avanzar('paso2')">Siguiente</div>
                        </div>
                    </div>
                </div>
                <!-- seccion 2 -->
                <div class="cnt_sec_modal paso2"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                    </div>
                    <div class="cnt_preg">
                        <div class="preg_radio">
                            3. El sitio web es visualmente atractivo
                        </div>
                        <div class="row_radios_modal">
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_1" id="nada_deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="nada_deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_1.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Para nada de acuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_1" id="desacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="desacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_2.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        En desacuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_1" id="neutro"/>
                                <label for="" class="cnt_if_radio_modal" for="neutro">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_3.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Ni de acuerdo ni en desacuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_1" id="deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_4.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        De acuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_1" id="completamente_deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="completamente_deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_5.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Completamente de acuerdo
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row_preg_1">
                            <div class="btn btn_modal" (click)="avanzar('paso3')">Siguiente</div>
                        </div>
                    </div>
                </div>

                <!-- seccion 3 -->
                <div class="cnt_sec_modal paso3"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                    </div>
                    <div class="cnt_preg">
                        <div class="preg_radio">
                            4. La navegación por el sitio web fue intuitiva
                        </div>
                        <div class="row_radios_modal">
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_2" id="r2_nada_deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="r2_nada_deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_1.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Para nada de acuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_2" id="r2_desacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="r2_desacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_2.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        En desacuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_2" id="r2_neutro"/>
                                <label for="" class="cnt_if_radio_modal" for="r2_neutro">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_3.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Ni de acuerdo ni en desacuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_2" id="r2_deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="r2_deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_4.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        De acuerdo
                                    </div>
                                </label>
                            </div>
                            <div class="itm_radio_modal">
                                <input type="radio" class="radio_modal" name="radio_preg_2" id="r2_completamente_deacuerdo"/>
                                <label for="" class="cnt_if_radio_modal" for="r2_completamente_deacuerdo">
                                    <div class="ic_radio_modal">
                                        <img src="assets/images/diseno/ic_encuesta_5.svg" alt="">
                                    </div>
                                    <div class="txt_radio_modal">
                                        Completamente de acuerdo
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row_preg_1">
                            <div class="btn btn_modal" (click)="avanzar('final')">Siguiente</div>
                        </div>
                    </div>
                </div>

                <!-- ********************* 
                    HAY 4 PREGUNTAS MÁS
                ********************** -->

                <!-- SECCION GRACIAS -->
                <div class="cnt_sec_modal final"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">
                            Muchas gracias por <br/>
                            tu colaboración
                        </div>
                    </div>

                    <div class="portada_modal">
                        <div class="logo_modal">
                            <img src="assets/images/diseno/logo_constructora.svg" alt="">
                        </div>
                        <div class="btn btn_modal" (click)="activarEncuesta()">Cerrar</div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>