
<div class="btn_flt_encuesta" (click)="activarEncuesta()" style="cursor:pointer" *ngIf="mostrarEncuesta">
    <img src="assets/images/diseno/ic_encuesta.svg" alt="">
</div>
<div class="layer" [ngClass]="{'active' : activarEncuestaS}">
    <div class="cnt_gen_modal">

        <div class="cnt_modal">
            <div class="cerrar_modal" (click)="activarEncuesta('cerrar')">
                <span class="material-icons">cancel</span>
            </div>

            <form action="" class="cnt_form_modal " id="myform">

                <!-- portada -->
                <div class="cnt_sec_modal portada"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                        <div class="txt_modal">
                            Esta encuesta no te tomará más de 2 minutos
                        </div>
                    </div>
                    <div class="portada_modal">
                        <div class="logo_modal">
                            <img src="assets/images/diseno/logo_constructora.svg" alt="">
                        </div>
                        <div class="btn btn_modal" (click)="avanzar('paso0')">Continuar</div>
                    </div>
                </div>

                <!-- seccion 1 -->
                <div class="cnt_sec_modal paso0 active" *ngIf="agrupada==0; else encuestaAgrupada"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">Queremos conocer tu opinión</div>
                    </div>
                    <div class="cnt_preg">
                        <div *ngFor="let i of encuesta[0].preguntas">
                            <div class="list_dropdown" *ngIf="i?.tipo_pregunta=='1'">
                                <div class="cntpreg_dropdown">
                                    <div class="txt_preg">
                                        {{i?.contar}}. {{i?.titulo}}
                                    </div>
                                    <select class="input inp_modal" (change)="marcarPregunta($event)">
                                        <option value="" [attr.id_encuesta]="i?.id">Seleccione</option>
                                        <option [value]="j?.titulo" [attr.id_encuesta]="i?.id" *ngFor="let j of i?.opciones">{{j?.titulo}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="escala" *ngIf="i?.tipo_pregunta=='2'">
                                <div class="preg_radio">
                                    {{i?.contar}}. {{i?.titulo}}
                                </div>
                                <div class="row_radios_modal">
                                    <div class="itm_radio_modal" *ngFor="let item of escala; index as k" (click)="marcarEscala(i?.id, item)">
                                        <input type="radio" name="opc_{{i?.id}}" class="radio_modal" id="opc_{{i?.id}}_{{k}}"/>
                                        <label for="" class="cnt_if_radio_modal" for="opc_{{i?.id}}_{{k}}">
                                            <div class="ic_radio_modal">
                                                <img src="assets/images/diseno/{{imagenes_escala[k]}}" alt="">
                                            </div>
                                            <div class="txt_radio_modal">
                                                {{item}}
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row_preg_1">
                            <div class="btn btn_modal" (click)="avanzarUnico()">Siguiente</div>
                        </div>
                        <p class="error-text">{{showErrors}}</p>
                    </div>
                </div>

                <ng-template #encuestaAgrupada>
                    <div class="cnt_sec_modal paso{{(j)}}" [ngClass]="{'active': j==0}" *ngFor="let i of encuesta[0].secciones; index as j">
                        <div class="top_azul_modal">
                            <div class="h_modal">Queremos conocer tu opinión</div>
                        </div>
                        <div class="cnt_preg">
                            <div *ngFor="let pregunta of i.preguntas">
                                <div class="list_dropdown" *ngIf="pregunta?.tipo_pregunta=='1'">
                                    <div class="cntpreg_dropdown">
                                        <div class="txt_preg">
                                            {{pregunta?.contar}}. {{pregunta?.titulo}}
                                        </div>
                                        <select class="input inp_modal" (change)="marcarPregunta($event)">
                                            <option value="" [attr.id_encuesta]="pregunta?.id">Seleccione</option>
                                            <option [value]="opc?.titulo" [attr.id_encuesta]="pregunta?.id" *ngFor="let opc of pregunta?.opciones">{{opc?.titulo}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="escala" *ngIf="pregunta?.tipo_pregunta=='2'">
                                    <div class="preg_radio">
                                        {{pregunta?.contar}}. {{pregunta?.titulo}}
                                    </div>
                                    <div class="row_radios_modal">
                                        <div class="itm_radio_modal" *ngFor="let item of escala; index as k" (click)="marcarEscala(pregunta?.id, item)">
                                            <input type="radio" name="opc_{{pregunta?.id}}" class="radio_modal" id="opc_{{pregunta?.id}}_{{k}}"/>
                                            <label for="" class="cnt_if_radio_modal" for="opc_{{pregunta?.id}}_{{k}}">
                                                <div class="ic_radio_modal">
                                                    <img src="assets/images/diseno/{{imagenes_escala[k]}}" alt="">
                                                </div>
                                                <div class="txt_radio_modal">
                                                    {{item}}
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row_preg_1">
                                <div class="btn btn_modal" (click)="avanzarMultiple(j+1, i.preguntas.length)">Siguiente</div>
                            </div>
                            <p class="error-text">{{showErrors}}</p>
                        </div>
                    </div>
                </ng-template>

                <!-- SECCION GRACIAS -->
                <div class="cnt_sec_modal final"><!-- clase active muestra la seccion-->
                    <div class="top_azul_modal">
                        <div class="h_modal">
                            Muchas gracias por <br/>
                            tu colaboración
                        </div>
                    </div>

                    <div class="portada_modal">
                        <div class="logo_modal">
                            <img src="assets/images/diseno/logo_constructora.svg" alt="">
                        </div>
                        <div class="btn btn_modal" (click)="activarEncuesta()">Cerrar</div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>