<!-- PROYECTOS DENTRO DE LA NOTA-->
<div class="cnt_proy_in_note">
    <div class="card_p">
        <picture>
            <span class="tag_state" style="background-color: rgb(170, 30, 89);"> ÚLTIMA ETAPA </span>
            <div class="btns_icons">
                <a target="_blank" class="btn_icon" href="#">
                    <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20">
                </a>
                <a target="_blank" class="btn_icon" href="https://waze.com/ul/hd2g0ekxzn">
                    <span class="fas fa-map-marker-alt"></span>
                </a>
            </div>
            <a href="#">
                <img width="350" height="219" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/Proyectos-de-vivienda/San-Pablo/galeria/Imagen-fondo-proyecto-lirios.jpg"
                    alt="Proyecto de vivienda Hacienda San Pablo | Fusagasugá"
                    title="Proyecto de vivienda Hacienda San Pablo Fusagasugá">
            </a>
        </picture>
        <h2 class="name_proyecto" style="background-color: rgb(29, 152, 152);">
            <picture>
                <img width="87" height="87" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/logo_principal/logo_proy_int.jpg"
                    alt="Hacienda San Pablo Fusagasugá" title="Hacienda San Pablo Fusagasugá">
            </picture>
            <div>OIKOS San Pablo Club House</div>
        </h2>
        <div class="datos_proyecto">
            <h3> Cundinamarca / Fusagasugá </h3>
            <h4><span>Desde</span> $307.351.135 </h4>
            <div class="precio_usd"> Precio de referencia <b>USD
                    62.582</b>
            </div>
        </div>
        <div class="franja_p">
            <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
            <span>Apartamentos con beneficios EDGE</span>
        </div>
        <div class="ctas_proyectos">
            <a class="btn_whatsapp c-pointer">
                <span class="fab fa-whatsapp"></span>
                Contactar
            </a>
            <a class="btn" href="#">
                Ver proyecto
            </a>
        </div>
    </div>
    <div class="card_p">
        <picture>
            <span class="tag_state" style="background-color: rgb(170, 30, 89);"> ÚLTIMA ETAPA </span>
            <div class="btns_icons">
                <a target="_blank" class="btn_icon" href="#">
                    <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20">
                </a>
                <a target="_blank" class="btn_icon" href="https://waze.com/ul/hd2g0ekxzn">
                    <span class="fas fa-map-marker-alt"></span>
                </a>
            </div>
            <a href="#">
                <img width="350" height="219" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/Proyectos-de-vivienda/San-Pablo/galeria/Imagen-fondo-proyecto-lirios.jpg"
                    alt="Proyecto de vivienda Hacienda San Pablo | Fusagasugá"
                    title="Proyecto de vivienda Hacienda San Pablo Fusagasugá">
            </a>
        </picture>
        <h2 class="name_proyecto" style="background-color: rgb(29, 152, 152);">
            <picture>
                <img width="87" height="87" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/logo_principal/logo_proy_int.jpg"
                    alt="Hacienda San Pablo Fusagasugá" title="Hacienda San Pablo Fusagasugá">
            </picture>
            <div>OIKOS San Pablo Club House</div>
        </h2>
        <div class="datos_proyecto">
            <h3> Cundinamarca / Fusagasugá </h3>
            <h4><span>Desde</span> $307.351.135 </h4>
            <div class="precio_usd"> Precio de referencia <b>USD
                    62.582</b>
            </div>
        </div>
        <div class="franja_p">
            <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
            <span>Apartamentos con beneficios EDGE</span>
        </div>
        <div class="ctas_proyectos">
            <a class="btn_whatsapp c-pointer">
                <span class="fab fa-whatsapp"></span>
                Contactar
            </a>
            <a class="btn" href="#">
                Ver proyecto
            </a>
        </div>
    </div>
    <div class="card_p">
        <picture>
            <span class="tag_state" style="background-color: rgb(170, 30, 89);"> ÚLTIMA ETAPA </span>
            <div class="btns_icons">
                <a target="_blank" class="btn_icon" href="#">
                    <img src="assets/images/diseno/proyectos_vivienda/icon_360.svg" width="20" height="20">
                </a>
                <a target="_blank" class="btn_icon" href="https://waze.com/ul/hd2g0ekxzn">
                    <span class="fas fa-map-marker-alt"></span>
                </a>
            </div>
            <a href="#">
                <img width="350" height="219" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/Proyectos-de-vivienda/San-Pablo/galeria/Imagen-fondo-proyecto-lirios.jpg"
                    alt="Proyecto de vivienda Hacienda San Pablo | Fusagasugá"
                    title="Proyecto de vivienda Hacienda San Pablo Fusagasugá">
            </a>
        </picture>
        <h2 class="name_proyecto" style="background-color: rgb(29, 152, 152);">
            <picture>
                <img width="87" height="87" defaultimg=""
                    src="https://www.oikos.com.co/constructora/images/website/proyectos/logo_principal/logo_proy_int.jpg"
                    alt="Hacienda San Pablo Fusagasugá" title="Hacienda San Pablo Fusagasugá">
            </picture>
            <div>OIKOS San Pablo Club House</div>
        </h2>
        <div class="datos_proyecto">
            <h3> Cundinamarca / Fusagasugá </h3>
            <h4><span>Desde</span> $307.351.135 </h4>
            <div class="precio_usd"> Precio de referencia <b>USD
                    62.582</b>
            </div>
        </div>
        <div class="franja_p">
            <img width="20" height="20" src="assets/images/diseno/proyectos_vivienda/icono_proyecto.svg" alt="">
            <span>Apartamentos con beneficios EDGE</span>
        </div>
        <div class="ctas_proyectos">
            <a class="btn_whatsapp c-pointer">
                <span class="fab fa-whatsapp"></span>
                Contactar
            </a>
            <a class="btn" href="#">
                Ver proyecto
            </a>
        </div>
    </div>
</div>
<!-- -->