<section class="s_proyecto_h">
    
    <div class="cnt_central">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    </div>

    <div class="hero_proyecto">
        <div class="info_h_proyecto">
            <div class="h_logo_proyect">
                <picture>
                    <img width="140" height="140" src="{{imagenes_url+data?.logo_proyecto}}" alt="{{data?.alt_logo}}" title="{{data?.title_logo}}">
                </picture>
                <div class="title_ph" style="color:#fff">
                    <div class="tag" [ngStyle]="{'background-color': data?.color_secundario}">
                        {{data?.estado_proyecto}}
                    </div>
                    <h1>{{data?.titulo_proyecto}}</h1>
                </div>
            </div>
            <div class="info_heading_proy">
                <div class="item_hp" *ngIf="data?.direccion_proyecto!='' && data?.direccion_proyecto!=null">
                    <span class="fas fa-map-marker-alt"></span>
                    <div>
                        <b>  Dirección proyecto: </b> {{data?.direccion_proyecto}}
                    </div>
                </div>
                <div class="item_hp" *ngIf="data?.telefono_salaventas!='' && data?.telefono_salaventas!=null">
                    <span class="fas fa-phone-alt"></span>
                    <div><b> Teléfono: </b> <a href="tel:{{data?.telefono_salaventas}}"> {{data?.telefono_salaventas}}</a></div>
                </div>
                <div class="item_hp" *ngIf="data?.director_ventas!='' && data?.director_ventas!=null">
                    <span class="fas fa-user-alt"></span>
                    <div><b> Director de ventas: </b> {{data?.director_ventas}}</div>
                </div>
                <div class="item_hp" *ngIf="data?.horario!='' && data?.horario!=null">
                    <span class="fas fa-clock"></span>
                    <div><b> Horario:</b>  {{data?.horario}}</div>
                </div>
                <div class="item_hp" *ngIf="data?.email!='' && data?.email!=null">
                    <span class="fas fa-envelope"></span>
                    <div><b> E-mail:</b> <a href="mailto:{{data?.email}}"> {{data?.email}}</a></div>
                </div>
            </div>
            <div class="precio_hp">
                <div class="price_project" *ngIf="data?.valor_proyecto!='' && data?.valor_proyecto!=null">
                    <h4>{{data?.tipo_proyecto}} DESDE</h4>
                    <div class="cont_price">
                        $ {{data?.valor_proyecto_formato}}
                    </div>
                    <span>{{data?.texto_adicional}}</span>

                </div>
                <a target="_blank" class="btn whatsapp whatsapp_init c-pointer"
                    (click)="openModal()">
                    Contactar 
                    <span class="fab fa-whatsapp"></span> 
                </a>
                <a class="btn btn_calc_1" *ngIf="data?.calculadora=='1'">Calcule su cuota mensual <!--<img src="assets/images/diseno/int_proyecto/icono_calc.svg" width="20" height="20" alt="">--> </a>
            </div>

        </div>

        <div class="slide_h_proyecto">

            <div class="col_slide_p">

                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2" >
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let i of galeria; let index=index">
                            <img *ngIf="!i?.field_description" src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}" title="{{i?.title}}"/>
                            <div *ngIf="i?.field_description" class="embed-responsive">
                                <iframe class="embed-responsive-item iframe_video_gallery" [src]="i?.field_description | safeResourceUrl" 
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="container_arrows">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                    <a class="btn cta_maqueta_virt" href="{{data?.tourguiado}}" rel="noopener,nofollow" target="_blank" *ngIf="data.tourguiado!='' && data.tourguiado!=null">Maqueta virtual <img width="20" height="20" src="./assets/images/diseno/proyectos_vivienda/icon_360.svg" alt=""> </a>
                </div>
                    
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let i of galeria">
                            <img src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}" title="{{i?.title}}"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BOTONES CTA -->

            <div class="grand_cont_ctas">
                <a class="btn" href="{{data?.vista360}}" rel="noopener,nofollow" target="_blank" *ngIf="data.vista360!='' && data.vista360!=null">Recorrido <img src="assets/images/diseno/int_proyecto/icono_recorrido.svg" width="20" height="20" alt=""> </a>
                <a class="btn" href="{{data?.url_waze}}" rel="noopener,nofollow" target="_blank" *ngIf="data.url_waze!='' && data.url_waze!=null">Cómo llegar <img src="assets/images/diseno/int_proyecto/icono_waze.svg" width="20" height="20" alt=""> </a>
            </div>
                
            </div>
    </div>

</section>

<section class="s_desc_proyecto">
    <div class="cnt_central">
        <div class="c_desc_proyecto">

            <!-- aside progress current project -->
            <aside class="progress_state">
                <a class="state active sect1" (click)="trasladar('sect1')" style="cursor:pointer" *ngIf="data?.descripcion_proyecto && data?.descripcion_proyecto!=null">
                    <span class="fas fa-circle"></span>
                    <h4>Sobre el proyecto</h4>
                </a>
                <a class="state sect2" (click)="trasladar('sect2')" style="cursor:pointer" *ngIf="planos.length>0 || tipologia.length>0">
                    <span class="fas fa-circle-notch"></span>
                    <h4>Planos y Tipología</h4>
                </a>
                <a class="state sect3" (click)="trasladar('sect3')" style="cursor:pointer" *ngIf="sitiosInteres.length>0">
                    <span class="fas fa-circle-notch"></span>
                    <h4>Sitios de interés</h4>
                </a>
                <a class="state sect4" (click)="trasladar('sect4')" style="cursor:pointer" *ngIf="zonas.length>0">
                    <span class="fas fa-circle-notch"></span>
                    <h4>Zonas comunes</h4>
                </a>
                <a class="state sect5" (click)="trasladar('sect5')" style="cursor:pointer" *ngIf="avancesObra.length>0">
                    <span class="fas fa-circle-notch"></span>
                    <h4>Avance obra</h4>
                </a>
                <a class="state sect6" (click)="trasladar('sect6')" style="cursor:pointer" *ngIf="data?.calculadora=='1'">
                    <span class="fas fa-circle-notch"></span>
                    <h4>Calcula</h4>
                </a>
                
            </aside>


            <div class="container_desc_project">

                <!-- seccion descripcion proyecto -->
                <div class="info_proj" id="sect1" *ngIf="data?.descripcion_proyecto && data?.descripcion_proyecto!=null">
                    <h3 class="title_section"> <span> Descripción del</span> Proyecto</h3>
                    <div class="descripcion_proyecto" [innerHTML]="data?.descripcion_proyecto" style="height:100px;overflow:hidden;"></div>
                    <br>
                    <div class="cont_btn_seguir">
                        <a style="cursor:pointer" class="btn read" (click)="seguirLeyendo()">Seguir Leyendo</a>
                    </div>
                    <picture>
                        <a class="btn" href="{{data?.vista360}}" rel="noopener,nofollow" target="_blank" *ngIf="data.vista360!='' && data.vista360!=null">Recorrido <img src="assets/images/diseno/int_proyecto/icono_recorrido.svg" width="20" height="20" alt=""> </a>
                        <img width="838" height="350" src="{{imagenes_url+data?.imagen_banner_proyecto}}" alt="{{data?.alt_banner}}" title="{{data?.title_banner}}">
                    </picture>
                </div>

                <div class="info_planos" id="sect2">

                    <!-- swiper planos -->
                    <div class="container_pp" *ngIf="planos.length>0">
                        <h3 class="">Planos</h3>
                        
                        <div class="swiper swiperPlanos">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let i of data.planos">
                                    <div class="img_slider_tipo">
                                        <a href="{{imagenes_url+i?.field_content}}" data-lightbox="plano">
                                            <img width="409" height="247" src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}">
                                        </a>
                                    </div>
                                    <div class="txt_img_plano">
                                        <h4>{{i?.alt}}</h4>
                                        <div [innerHTML]="i?.title"></div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>

                    <!-- swiper tipologias -->
                    <div class="container_pp" *ngIf="tipologia.length>0">
                        <h3>Tipologías</h3>
                        <!-- Swiper -->
                        <div class="swiper swiperTipologia">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let i of data.tipologia">
                                    <div class="img_slider_tipo">
                                        <a href="{{imagenes_url+i?.field_content}}" data-lightbox="tipologia">
                                            <img width="409" height="247" src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}" title="{{i?.title}}">
                                        </a>
                                    </div>
                                    <div class="txt_img_plano">
                                        <h4>{{i?.alt}}</h4>
                                        <div [innerHTML]="i?.title"></div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        
                    </div>

                </div>

                <!-- seccion sitios de interes -->
                <div class="info_sitios_interes" id="sect3" *ngIf="sitiosInteres.length>0">
                    <h3 class="title_section"> <span> Sitios de </span>Interés</h3>
                    <div class="tags_s_interes">
                        <span *ngFor="let i of sitiosInteres" (click)="cargarSitios(i?.id)" style="cursor:pointer">{{i?.field_content}}</span>
                    </div>
                    <div class="map">
                        <a class="btn" href="{{data?.url_waze}}" rel="noopener,nofollow" target="_blank" *ngIf="data.url_waze!='' && data.url_waze!=null">Cómo llegar <img src="assets/images/diseno/int_proyecto/icono_waze.svg" width="20" height="20" alt=""> </a>
                        <google-map width="1050" height="350" [center]="center" [zoom]="zoom">
                            <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label" [title]="marker.title" [options]="marker.options" [icon]="marker.icon"></map-marker>
                        </google-map>
                    </div>
                </div>


                <!-- seccion zonas comunes -->
                <div class="info_zonas_comunes" id="sect4" *ngIf="zonas.length>0">
                    <h3 class="title_section"><span> Zonas</span> Comunes</h3>
                    <div class="c_zonas_c">
                        <div class="item_zc" *ngFor="let i of zonas">
                            <img width="44" height="44" src="{{imagenes_url+i?.imagen}}" alt="{{i?.alt}}">
                            <label for="">{{i?.nombre}}</label>
                        </div>
                    </div>
                </div>

                
                <!-- seccion avances Obra -->
                <div class="info_avance_obra" id="sect5" *ngIf="avancesObra?.length>0">
                    <h3 class="title_section"><span> Avance de</span> obra</h3>
                    <div class="fechas_a_obra">
                        <div class="tabs_nav_obra">
                            <div class="wrap_nav_obra">
                                <a class="botonpfc" [ngClass]="index==0 ? 'active' : ''"  
                                    *ngFor="let i of fechasAvancesObra; index as index"
                                    (click)="actualizarAvanceObraActivo(index, i)">
                                    {{i}}
                                </a>
                            </div>
                        </div>
                        <div class="cont_tab_video info">
                            <!-- SWIPER GALERÍA OBRA -->
                            <swiper [config]="config">
                                <ng-template swiperSlide *ngFor="let i of avancesObraActivos">
                                    <div class="swiper-slide">
                                        <iframe width="514" height="300" [src]="i?.field_description | safeResourceUrl" class="js-modal-btn" 
                                                *ngIf="i?.field_description!='' && i?.field_description!=null; else routerVideo">
                                            <img width="517" height="301" src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}">
                                        </iframe>
                                        <ng-template #routerVideo>
                                            <img width="517" height="301" src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}">
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </swiper>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                    </div>
                </div>

                <!-- seccion Calcula -->
                <div class="info_banner_calcula" id="sect6" *ngIf="data?.calculadora=='1'">
                    <picture>
                        <img width="571" height="110" src="assets/images/diseno/int_proyecto/img_calcula.jpg" alt="">
                    </picture>
                    <div class="cnt_btn_calc">
                        <a class="btn contacto_h btn_calc_1">Calcula <span class="fas fa-calculator"></span> </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="s_carr_proy">

    <span class="bg_round">
        <span></span>
    </span>

    <div class="cnt_central">

        <h2 class="title_section al_center"> <span>Proyectos </span> en construcción </h2>

        <div class="cnt_car_proy_dest">
            <app-slide-projects></app-slide-projects>
        </div>
    </div>
</section>


<!-- modal wpp -->
<app-wpp-modal-project  [modalEvent]="notifyChanges.asObservable()" 
                        [project]="data" [showFloatingButton]="true">
</app-wpp-modal-project>

<!-- MODAL CALCULADORA -->
<span class="bg_dark"></span>
<div class="s_modal_calculadora">
    <a class="close_calc">
        <span class="fas fa-arrow-right"></span>
    </a>
    <form class="f_calculadora" [formGroup]="contactForm" (ngSubmit)="insertContact()" novalidate>
        <div class="csp_calc">
            <!-- Swiper -->
            <div class="swiper swiperCalcP">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let i of galeria">
                        <img *ngIf="!i?.field_description; else iframeYT" width="400" height="200" 
                            src="{{imagenes_url+i?.field_content}}" alt="{{i?.alt}}">
                        
                        <ng-template #iframeYT>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item iframe_video_gallery_2" 
                                        [src]="i?.field_description | safeResourceUrl" allowfullscreen>
                                </iframe>
                            </div>
                        </ng-template>
                        
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <h4 class="title_proyecto">
                {{data?.titulo_proyecto}}
            </h4>
        </div>
        <div class="grand_c_inputs">
            <div class="datos_persona">
                <div class="cont_input_x1">
                    <input type="text" placeholder="Nombre" formControlName="nombre">
                </div><br>
                <div *ngIf="hasErrorsFieldForm('nombre')" class="error-text">Existen errores, por favor revisar*</div>
                <div class="cont_input_x2">
                    <input type="email" placeholder="Email" formControlName="email">
                    <input type="tel" placeholder="Teléfono" formControlName="telefono">
                </div>
                <div *ngIf="hasErrorsFieldForm('email')" class="error-text">Existen errores, por favor revisar*</div>
                <div *ngIf="hasErrorsFieldForm('telefono')" class="error-text">Existen errores, por favor revisar* <br> Mínimo 7, Máximo 10 números</div>
            </div>
            <div class="datos_cuota_inicial">
                <div class="cont_input_x2">
                    <div class="info">
                        <label for="">Cuota inicial %</label>
                        <input type="number" min="{{data?.porcentaje_minimo}}" (click)="calculoPorcentaje()" class="cambiarPorcentaje" max="100" value="{{data?.porcentaje_minimo}}">
                    </div>
                    <div class="info">
                        <label for="">Número de cuotas</label>
                        <select class="cuotasinicialfinanciar" (change)="diferenciadordecuotasmensuales()">
                            <option value="{{i.nro}}" [selected]="j==0" *ngFor="let i of data.numero_cuotas; index as j">{{i.nro}}</option>
                        </select>
                    </div>
                </div>
                <div class="solo_info x3">
                    <div class="info">
                        <label for="">Valor cuota inicial</label>
                        <input type="text" class="valorCuotaInicial" value="$ {{data?.cuota_inicial}}" readonly>
                    </div>
                    <div class="info">
                        <label for="">Separación <b> 2%</b></label>
                        <input type="text" class="separacion" value="$ {{data?.cuota_separacion}}" readonly>
                    </div>
                    <div class="info highlight">
                        <label for="">Saldo cuota inicial</label>
                        <input type="text" class="diferencia" value="$ {{data?.saldo_cuota}}" readonly>
                    </div>
                </div>
                <div class="solo_info x1">
                    <label for="">Valor cuota mensual</label>
                    <input type="text" class="cuotamensual" readonly>
                </div>
            </div>
            <div class="datos_financiacion">
                <div class="solo_info x2">
                    <div class="info">
                        <label for="">Saldo a financiar %</label>
                        <input type="text" value="{{porcFinanciar}}" class="porcentajeFinanciar" readonly>
                    </div>
                    <div class="info highlight">
                        <label for="">Valor</label>
                        <input type="text" value="$ {{data?.financiar}}" class="valorafinanciar" readonly>
                    </div>
                </div>
                <div class="cont_input_x2">
                    <div class="info">
                        <label for="">Plazo en años</label>
                        <select class="plazoaniosa" (change)="plazoanios()">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="">Valor estimado cuota hipotecaria</label>
                        <input type="text" value="$ " class="cuotahipoteca" readonly>
                    </div>
                </div>
            </div>
            <div class="cont_chk">
                <input type="checkbox" id="calc_form_chk" formControlName="terminos">
                <label for="calc_form_chk"> Acepto y Autorizo la 
                    <a [routerLink]="['/legales', 'politicas-de-privacidad']" target="_blank"> 
                        Política de Tratamiento de Datos
                    </a>
                </label>
            </div>
            <div *ngIf="hasErrorsFieldForm('terminos')" class="error-text">Existen errores, por favor revisar*</div>
            <div class="cont_submit">
                <button type="submit" class="btn" [disabled]="contactForm.invalid">Enviar</button>
            </div>


        </div>
    </form>
</div>

