<div class="cuerpo">
    <div class="cnt_central" bis_skin_checked="1">
        <div class="contenidopol" bis_skin_checked="1">
            <h1 class="title">
            Mapa del sitio
            </h1>
            <div class="textopol" bis_skin_checked="1">
                <ul class="tree" >
                    <li><a href="/">Home</a></li>
                    <li><a routerLink="/proyectos-construccion-vivienda"> Proyectos de Vivienda</a></li>
                    <li><a routerLink="/proyectos-construccion-comerciales-industriales"> Proyectos Comerciales Industriales</a></li>
                    <li><a href="https://proyectosespeciales.oikos.com.co/" target="_blank"> Proyecto Contratación Directa</a></li>
                    <li><a routerLink="/proyectos-ejecutados"> Proyetcos Ejecutados</a></li>
                    <li><a routerLink="/noticias-constructora"> Noticias</a></li>
                    <li><a routerLink="/contactanos"> Contáctenos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><br><br>