<footer class="footer">
    <div class="cnt_lat_pie">
        <div class="cnt_gen_inf_lat_pie">
            <div class="cnt_logos_pie">
                <a [href]="i?.enlace" target="_blank" rel="noopener" *ngFor="let i of companies" class="logo_pie">
                    <img [src]="BASE_URL+i?.imagen[0]" [alt]="i?.imagen_alt[0]" [title]="i?.imagen_title[0]">
                </a>
            </div>
            <div class="txt_pie">
                {{ configFooter.texto_footer }}
            </div>
            <div class="cnt_dir_pie">
                <div class="direccion_pie">
                    <span class="material-icons">place</span>
                    {{ configFooter.address }}
                </div>
                <div class="direccion_pie">
                    <span class="material-icons">mail</span>
                    {{configFooter.contactemails }}
                </div>
            </div>
            <div class="cnt_gen_cert_pie">
                <div class="logo_cert_pie" *ngFor="let i of logos">
                    <img [src]="BASE_URL+i?.imagen[0]" [alt]="i?.imagen_alt[0]" [title]="i?.imagen_title[0]">
                </div>
            </div>
        </div>
    </div>
    <div class="cnt_mid_pie">

        <!-- MENU FOOTER -->
        <div class="col_mid_men_pie" #menuEle (click)="dropdownToogleMenu(menuEle)" 
            *ngFor="let i of menuFooter">
            <div class="h_cl_pie">
                {{i?.field_content}}
            </div>
            <ul class="menu_pie">
                <li *ngFor="let j of i.hijos">
                    <a [href]="j?.url_enlace_footer" target="_blank" rel="noopener" *ngIf="j?.url_enlace_footer?.includes('https://') || j?.url_enlace_footer?.includes('http://');else routerLink">
                        {{ j?.field_content }}
                    </a>

                    <ng-template #routerLink>
                        <a href="/constructora{{j?.url_enlace_footer}}">
                            {{ j?.field_content }}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>


        <!-- FORM SUSCRIBE -->
        <div class="col_susc_pie">
            <div class="h_cl_pie" style="display:none">
                Suscribirse
            </div>

            <div class="cnt_gen_susc_pie" style="display:none">
                <div class="txt_susc_pie">
                    Escribe tu e-mail para mantenerte al tanto de nuestra información
                </div>
                <form class="form_susc" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=GrupoOikos', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
                    <input type="email" class="campo_susc_pie" placeholder="aquí tu e-mail" name="email"/>
                    <input type="hidden" value="GrupoOikos" name="uri">
                    <input type="hidden" name="loc" value="es_ES">
                    <input type="submit" class="bnt_susc">
                </form>
            </div>
            <div class="datos_pie">
                <div>
                    {{ configFooter.address }}
                </div>
                <div>
                    {{ configFooter.pbx }}
                </div>
                <div>
                    {{configFooter.contactemails }}
                </div>
            </div>
        </div>


    </div>
    <div class="cnt_bot_pie">
        <div class="cnt_redes_pie">
            <a [href]="i?.url" target="_blank" rel="nofollow" *ngFor="let i of socialNetwork">
                <i [class]="i?.class_footer" *ngIf="i?.class.includes('i_tag');else div_tag"></i>
                <ng-template #div_tag>
                    <div [class]="i?.class_footer" ></div>
                </ng-template>
                
            </a>
        </div>
        <div class="copyr_pie">
            ©OIKOS CONSTRUCTORA 2022. Todos los derechos reservados.
        </div>
    </div>
</footer>

<survey-modal></survey-modal>