<footer *ngIf="loadingData" class="footer">
    <div class="cnt_lat_pie">
        <div class="cnt_gen_inf_lat_pie">
            <div class="cnt_logos_pie" *ngIf="companies.length>0">
                <a [href]="i?.enlace" target="_blank" rel="noopener" *ngFor="let i of companies" class="logo_pie">
                    <img [ngSrc]="IMG_URL()+i?.imagen[0]" [alt]="i?.imagen_alt[0]" [title]="i?.imagen_title[0]" width="80" height="60">
                </a>
            </div>
            <div *ngIf="configFooter">
                <div class="txt_pie">
                    {{ configFooter.texto_footer }}
                </div>
                <div class="cnt_dir_pie">
                    <div class="direccion_pie">
                        <span class="material-icons">place</span>
                        {{ configFooter.address }}
                    </div>
                    <div class="direccion_pie">
                        <span class="material-icons">mail</span>
                        {{configFooter.contactemails }}
                    </div>
                </div>
            </div>
            <div class="cnt_gen_cert_pie" *ngIf="logos.length > 0">
                <div class="logo_cert_pie" *ngFor="let i of logos">
                    <img [ngSrc]="IMG_URL()+i?.imagen[0]" [alt]="i?.imagen_alt[0]" [title]="i?.imagen_title[0]" height="143" width="140">
                </div>
            </div>
        </div>
    </div>

    <div class="cnt_mid_pie" *ngIf="menuFooter.length > 0">

        <div class="col_mid_men_pie" #menuEle (click)="dropdownToogleMenu(menuEle)" *ngFor="let i of menuFooter">
            <div class="h_cl_pie">
                {{i?.field_content}}
            </div>
            <ul class="menu_pie">
                <li *ngFor="let j of i.hijos">
                    <a [href]="j?.url_enlace_footer" target="_blank" rel="noopener"
                        *ngIf="j?.url_enlace_footer?.includes('https://') || j?.url_enlace_footer?.includes('http://');else routerLink">
                        {{ j?.field_content }}
                    </a>

                    <ng-template #routerLink>
                        <a routerLink="{{j?.url_enlace_footer}}">
                            {{ j?.field_content }}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>

        <div class="col_mid_men_pie" #menuEle (click)="dropdownToogleMenu(menuEle)" *ngFor="let i of menuFooterProyectos">
            <div class="h_cl_pie proy_footer">
                {{i.field_content}}
            </div>
            <ul class="menu_pie">
                <li *ngFor="let j of i.hijos">
                    <a [href]="j?.url_enlace_footer" target="_blank" rel="noopener"
                        *ngIf="j?.url_enlace_footer?.includes('https://');else routerLink">
                        {{ j?.field_content }}
                    </a>

                    <ng-template #routerLink>
                        <a routerLink="{{j?.url_enlace_footer}}">
                            {{ j?.field_content }}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
    <div class="cnt_bot_pie" *ngIf="socialNetwork.length > 0">
        <div class="cnt_redes_pie">
            <a [href]="i?.url" target="_blank" rel="nofollow" *ngFor="let i of socialNetwork">
                <i [class]="i?.class_footer"></i>
            </a>
        </div>
        <div class="copyr_pie">
            ©OIKOS CONSTRUCTORA 2022. Todos los derechos reservados.
        </div>
    </div>
</footer>
<survey-modal *ngIf="loadingData"></survey-modal>