* {
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

[class^=icon-],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic_sk:before {
    content: "\eac5";
}

.ic_vm:before {
    content: "\eaa0";
}

.ic_pt:before {
    content: "\e900";
}

.ic_in:before {
    content: "\eaca";
}

.ic_bg:before {
    content: "\eab7";
}

.ic_yt:before {
    content: "\ea9d";
}

.ic_rss:before {
    content: "\ea9b";
}

.ic_tw:before {
    content: "\ea96";
}

.ic_wa:before {
    content: "\ea93";
}

.ic_ig:before {
    content: "\ea92";
}

.ic_fb:before {
    content: "\ea90";
}

.ic_share:before {
    content: "\e90a";
}

.ic_gp:before {
    content: "\e909";
}

@font-face {
    font-family: "icomoon";
    src: url("/assets/fonts/icomoon.eot?c7s859");
    src: url("/assets/fonts/icomoon.eot?c7s859#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?c7s859") format("truetype"), url("/assets/fonts/icomoon.woff?c7s859") format("woff"), url("/assets/fonts/icomoon.svg?c7s859#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:root {
    --c_pri: #0A102D;
    --color-c2: #182360;
    --color-c3: #F0F2F7;
    --color-c4: #FFFFFF;
    --color-grad_blanco: linear-gradient(104.32deg, #FFFFFF 0%, #E4E4E4 100%), #C2C2C2;
    --color-grad_azul_osc: linear-gradient(135.57deg, #4565B3 0%, #2B478B 54.17%, #13203E 100%);
    --color-grad_azul_cla: linear-gradient(115.4deg, #2B478B 29.76%, #5077D6 85.08%);
}

.cont_input {
    display: grid;
    grid-template-columns: 1fr;
}

.cont_input_x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input,
select,
textarea {
    width: 100%;
    background: #F2F2F2;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
}

.btn {
    background: linear-gradient(90deg, #28468D 0%, #466DCD 100%);
    border-radius: 100px;
    font-weight: 700;
    border: 0;
    outline: 0;
    height: 35px;
    min-width: 120px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn_link_reset {
    color: #FF0000;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.btn_link_reset span {
    font-weight: 400;
}

img,
a {
    border: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 800;
}

img,
object,
embed,
video,
iframe {
    max-width: 100%;
}

h1 {
    font-size: 53px;
}

/* HEADER */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.topbar_h {
    width: 100%;
    background: #f4f4f4;
    box-sizing: border-box;
    padding: 4px 2.5%;
    display: flex;
    justify-content: flex-end;
}

.cnt_inf_topbar_h {
    display: flex;
    align-items: center;
}

.btn_z_clientes {
    padding: 0 16px;
    font-size: 15px;
    color: #3f3f3f;
    display: block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-left: 12px;
}

.btn_z_clientes:hover {
    color: var(--c_link);
}

.btn_oikos_logos {
    display: flex;
    align-items: center;
    margin: 0 0 0 12px;
    height: 20px;
    gap: 8px;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}
.btn_oikos_logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 20px;
}
.txt_logos_h {
    font-size: 13px;
    color:#000;
}

.btn_pse {
    padding: 0 0 0 12px;
    display: flex;
    align-items: center;
}

.btn_pse:hover .txt_pse {
    color: var(--c_link);
}

.txt_pse {
    font-size: 15px;
    color: #3f3f3f;
    padding-right: 8px;
}

.ic_pse {
    width: 51px;
    height: 23px;
    background: url(assets/images/diseno/pse.svg) no-repeat center;
    border-radius: 11.5px;
    background-image: #EFEFEF;
    background-size: auto 100%;
    display: block;
}

.nav_bar_h {
    width: 100%;
    background: var(--color-c2);
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 16px 2.5%;
}

.logo_pri {
    width: 153px;
    height: 98px;
    transform: skewX(-20deg);
    background: linear-gradient(104.32deg, #FFFFFF 20.83%, #E4E4E4 100%), #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.28);
    text-indent: -999em;
    border-radius: 0 0 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.logo_pri a {
    width: 100%;
    height: 100%;
    display: block;
    transform: skewX(20deg);
    background: url(assets/images/diseno/logo_constructora.svg) no-repeat center;
    background-size: auto 65%;
}

.logo_pri:after {
    content: "";
    width: 13%;
    height: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: -7%;
    transform: skewX(20deg);
}

.nav {
    width: 80%;
    justify-content: flex-end;
    transition: 400ms ease-out;
}

.nav ul {
    width: auto;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.nav ul li {
    margin: 0 2%;
    color: #fff;
    list-style: none;
}

.nav ul li a {
    color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    font-weight: bold;
}

.nav ul li a:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -14px;
    opacity: 0;
    transition: all 0.3s;
}

.nav ul li:hover a:before,
.nav ul li.active a:before {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.btn {
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, #28468D 0%, #466DCD 100%);
    padding: 4px 24px;
    border-radius: 35px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
    display: inline-flex;
}

.btn:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    border-radius: 100px;
    background: rgba(1, 37, 200, 0.7058823529);
    transition: all 0.3s;
    mix-blend-mode: luminosity;
}

.btn:hover:before {
    border-radius: 0;
    left: 0;
}

.btn.contacto_h {
    color: var(--c_pri);
    background: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
}

.btn.contacto_h:before {
    mix-blend-mode: darken;
}

.btn.contacto_h:hover {
    color: #fff;
}

.btn_menu_movil {
    display: none;
}

.cuerpo {
    width: 100%;
    position: relative;
    /*padding-top: 46.5px ;*/
    padding-top: 93px;
    display: block;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFAFA;
}

.cnt_central {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.miga {
    font-size: 13px;
    padding: 12px 0;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    font-weight: 400;
    text-align: right;
    margin: 20px 0 0;
}

.miga div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.miga a {
    color: #000;
}

.miga a:hover {
    text-decoration: underline;
}

.title_section {
    font-size: 42px;
    color: var(--color-c2);
    font-weight: 800;
    margin: 30px auto 40px;
}

.title_section span {
    font-weight: 400;
}

.al_left {
    text-align: left;
    justify-content: flex-start;
}

.al_center {
    text-align: center;
    justify-content: center;
}

.al_right {
    text-align: right;
    justify-content: flex-end;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    position: relative;
    min-height: 370px;
}

.cnt_lat_pie {
    width: 38%;
    height: 100%;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    padding: 32px 48px 64px 40px;
    background: #fff;
    border-radius: 0 0 58px 0;
    transform: skewX(-6deg);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.cnt_lat_pie:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 0;
    transform: skewX(6deg);
}

.cnt_gen_inf_lat_pie {
    width: 100%;
    transform: skewX(6deg);
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: left;
}

.cnt_logos_pie {
    width: 100%;
    display: flex;
    column-gap: 8%;
}

.logo_pie {
    width: 25%;
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_pie img {
    width: 100%;
    max-width: 80px;
}

.txt_pie {
    width: 100%;
    font-size: 13px;
    color: #1B1B1A;
    padding: 32px 40px 32px 0;
}

.cnt_dir_pie {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.direccion_pie {
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
    padding: 4px 0;
}

.cnt_gen_cert_pie {
    width: 100%;
    display: flex;
    column-gap: 8%;
}

.logo_cert_pie img {
    height: auto;
    max-height: 66px;
    object-fit: cover;
}

.cnt_mid_pie {
    width: 100%;
    padding: 84px 0 80px;
    padding-left: 40%;
    padding-right: 56px;
    box-sizing: border-box;
    display: flex;
    column-gap: 24px;
    min-height: 440px;
}

.col_mid_men_pie {
    text-align: left;
    position: relative;
    flex-grow: 1;
}

.col_susc_pie {
    width: 32%;
    text-align: left;
    flex-grow: 1;
}

.h_cl_pie {
    width: 100%;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.h_cl_pie.active:before {
    transition: 300ms ease-out;
    transform: rotate(180deg);
}

.menu_pie {
    width: 100%;
    font-size: 14px;
    list-style: none;
    transition: none;
    padding: 0;
}

.menu_pie li {
    width: 100%;
    margin: 8px 0;
}

.menu_pie li a {
    color: #1B1B1A;
    opacity: 0.75;
    width: auto;
}

.menu_pie li a:hover {
    color: var(--c_link);
}

.cnt_gen_susc_pie {
    width: 100%;
    font-size: 14px;
    padding: 8px 0;
}

.txt_susc_pie {
    width: 100%;
}

.form_susc {
    width: 100%;
    display: flex;
    padding: 8px 0;
    gap: 10px;
}

.campo_susc_pie {
    width: 65%;
    height: 40px;
    font-size: 14px;
    color: #666;
    border: 1px solid #ccc;
    padding: 0 12px;
}

.bnt_susc {
    width: 35%;
    height: 40px;
    font-size: 14px;
    color: #000;
    border: 1px solid #ccc;
    cursor: pointer;
}

.bnt_susc:hover {
    background: var(--c_pri);
    color: #FFF;
}

.datos_pie {
    font-size: 14px;
    color: #000;
}

.datos_pie>div {
    width: 100%;
    display: block;
    padding: 2px 0;
}

.cnt_bot_pie {
    width: 100%;
    padding: 12px 0;
    padding-left: 40%;
    padding-right: 56px;
    box-sizing: border-box;
    display: flex;
    background: #233862;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.cnt_redes_pie {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.cnt_redes_pie a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red_pie {
    font-family: "icomoon";
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.red_pie_n{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.red_pie:hover, .red_pie_n:hover {
    background: #fff;
    color: #233862;
}

.copyr_pie {
    font-size: 13px;
    color: #fff;
}

/******/
/****** SECCION CARRUSEL PROYECTOS ******/
.s_carr_proy {
    width: 100%;
    position: relative;
    padding: 24px 0 0px;
}

.bg_round {
    width: 100%;
    background: linear-gradient(180deg, rgba(233, 237, 247, 0.4) 0%, rgb(240, 242, 247) 72.6%), #FFFFFF;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
}

.bg_round span {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background: url(assets/images/diseno/proyectos_vivienda/curva_bg.svg) no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-height: 145px;
    pointer-events: none;
}

.cnt_car_proy_dest {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0;
}

.cnt_car_proy_dest .card_p {
    width: 95%;
    max-width: 350px;
    margin: auto;
}

.cnt_car_proy_dest .swiper-container {
    overflow: hidden;
    padding: 0 5% 0;
}

.cnt_car_proy_dest .swiper {
    padding-bottom: 60px;
}

.cnt_car_proy_dest .swiper-slide {
    height: auto;
    justify-content: center;
    text-align: center;
}

.cnt_car_proy_dest .swiper-button-next,
.cnt_car_proy_dest .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-size: 100% auto;
    border-color: #13203E;
}
.cnt_esp_eng{
    padding-left: 12px;
    display: flex;
    align-items: center;
    gap: 1px;
    color: #3f3f3f;
    border-left: 1px solid #ccc;
    margin-left: 12px;
}
.btn_idioma{
    font-size: 14px;
    padding: 2px 6px;
    padding-top: 4px;
    color: #3f3f3f;
    border-radius: 3px;
    transition: all .3s;
}
.btn_idioma:hover{
    background-color: #1A41E5;
    color: #fff;
}
.btn_idioma.active{
    background: var(--color-c2);
    color: #fff;
    
}

/*********************/

@media screen and (max-width: 1400px) {
    .nav ul li {
        margin: 0 1%;

    }
}

@media screen and (max-width: 1200px) {
    .nav ul li a {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .ic_pse {
        height: 18px;
        width: 40px;
    }

    .btn_z_clientes,
    .txt_pse {
        font-size: 12px;
        padding: 0 8px;
        text-align: center;
    }

    .btn_pse {
        padding-left: 0px;
    }

    .nav_bar_h {
        padding: 0 24px;
    }

    .logo_pri {
        width: 136px;
        height: 78px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 2;
        background: var(--color-c2);
        box-sizing: border-box;
        padding: 32px 80px 32px 40px;
        width: 100%;
        height: 100%;
        max-width: 350px;
        margin: 0;
        overflow-y: auto;
        transition: 400ms ease-out;
    }

    .nav.active {
        right: 0;
    }

    .nav>ul {
        width: 100%;
        flex-direction: column;
    }

    .nav>ul>li {
        margin: 0;
        border-bottom: 1px solid #45448b;
    }

    .nav>ul>li:before {
        display: none;
    }

    .nav>ul>li a {
        padding: 16px 0;
    }

    .nav>ul>li:hover>ul.submenu {
        display: none;
    }

    .nav>ul>li ul.submenu {
        position: relative;
        width: 100%;
        background: var(--c_pri);
        transition: none;
        box-shadow: none;
        padding: 0px 16px;
    }

    .nav>ul>li ul.submenu li:last-child {
        border-bottom: none;
    }

    .nav>ul>li ul.submenu li a {
        padding: 16px 0;
    }

    .nav>ul .btn_med {
        margin: 8px 0;
    }

    .btn_menu_movil {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        padding: 8px;
        float: right;
        position: relative;
        z-index: 3;
        transition: 300ms ease-out;
        cursor: pointer;
    }

    .btn_menu_movil>span {
        transition: 300ms ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        padding: 2px;
    }

    .btn_menu_movil>span span {
        transition: 300ms ease-out;
        width: 100%;
        display: block;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        margin: 2px 0;
    }

    .btn_menu_movil.active>span span {
        width: 84%;
    }

    .btn_menu_movil.active>span span:first-child {
        transform: rotate(45deg) translate(33%, 133%);
    }

    .btn_menu_movil.active>span span:nth-child(2) {
        opacity: 0;
    }

    .btn_menu_movil.active>span span:last-child {
        transform: rotate(-45deg) translate(31%, -144%);
    }

    .contacto_h {
        margin-top: 16px;
    }

    .cuerpo {
        padding-top: 66px;
    }

    /* ESTILOS FOOTER */
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .cnt_lat_pie {
        position: initial;
        width: 100%;
    }

    .cnt_mid_pie {
        width: 100%;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        min-height: auto;
    }

    .cnt_dir_pie {
        display: flex;
        gap: 24px;
    }

    .cnt_bot_pie {
        position: initial;
        padding: 20px;
    }

    .col_mid_men_pie,
    .col_susc_pie {
        width: 100%;
    }
}

/* ESTILOS FORMULARIO */
.cont_input_x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
}

.cont_input {
    margin: 0 0 10px;
    position: relative;
}

input,
select,
textarea {
    width: 100%;
    background: #F2F2F2;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    padding: 9px 10px;
    box-sizing: border-box;
}

.cont_input {
    margin: 0px;
}

.cont_input input,
.cont_input select,
.cont_input textarea {
    width: 100%;
    background: #F2F2F2;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    padding: 9px 10px;
    box-sizing: border-box;
}

input[type=checkbox] {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #F2F2F2;
    border: 1px solid #D8D8D8;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

input[type=checkbox]::before {
    content: "";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Font Awesome 5 Pro";
    font-size: 11px;
    font-weight: 600;
    color: #FFF;
}

input[type=checkbox]:checked {
    background: #5077D6;
    border: 1px solid #5077D6;
}

input[type=checkbox]:checked::before {
    content: "\f00c";
}

.cont_submit {
    display: flex;
    justify-content: flex-start;
}

.cont_politicas {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0 0 20px;
}

.cont_politicas label {
    text-align: left;
    font-size: 13px;
}

.cont_politicas a {
    text-decoration: underline;
    color: #1A41E5;
    font-weight: 400;
}

button[type=submit] {
    outline: 0;
    border: 0;
    height: 36px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

input[type=file]::-webkit-file-upload-button {
    background: linear-gradient(90deg, #28468D 0%, #466DCD 100%);
    outline: 0;
    border: 0;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 0 20px 0 0;
}

.cont_submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cont_redes_sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    gap: 10px;
}

.cont_redes_sociales h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #182360;
}

.redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_red {
    background: #fafafa;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    color: #182360;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease-out;
}

.btn_red span {
    transition: 300ms ease-out;
}

.btn_red:hover {
    background: #182360;
    color: #FFF;
}

.al-right {
    text-align: right;
    justify-content: flex-end;
}

.al-left {
    text-align: left;
    justify-content: flex-start;
}

.al-center {
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .title_section {
        font-size: 32px;
    }

    .logo_pri {
        width: 104px;
        height: 60px;
        top: 45px;
    }

    /*   ESTILOS FOOTER */
    .cnt_mid_pie {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        gap: 20px;
    }

    .cnt_bot_pie {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }

    .copyr_pie {
        font-size: 12px;
    }

    .menu_pie {
        display: none;
    }

    .h_cl_pie::before {
        content: "\f106";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        font-family: "Font Awesome 5 Pro";
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .txt_pie {
        padding: 32px 0px 32px 0;
    }

    .cnt_lat_pie {
        padding: 20px;
        transform: skewX(0deg);
        border-radius: 0 0 50px 50px;
        overflow: hidden;
    }

    .cnt_gen_inf_lat_pie {
        transform: skewX(0deg);
    }

    .cnt_gen_cert_pie {
        justify-content: center;
    }

    .cnt_logos_pie {
        justify-content: center;
    }

    .logo_pie {
        justify-content: center;
        text-align: center;
    }
    .btn_oikos_logos{
        height: 24px;
        border: none;
        padding-left: 0;
    }
        .btn_oikos_logos img{
        max-width: 24px;
    }
        .txt_logos_h{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .cuerpo {
        padding-top: 84px;
    }

    .miga {
        margin: 0;
        font-size: 10px;
        text-align: left;
        line-height: 10px;
    }

    .nav_bar_h {
        padding: 0 8px;
    }

    .nav {
        max-width: none;
    }

    .logo_pri {
        width: 84px;
        height: 50px;
        top: 45px;
    }

    .logo_pri a {
        background-size: auto 70%;
    }

    .cont_input_x2 {
        grid-template-columns: 1fr;
    }

    .cnt_dir_pie {
        flex-direction: column;
        gap: 0;
    }

    .lb-loader,
    .lightbox {
        /*position: fixed;*/
    }

    .s_carr_proy {
        padding-top: 1px;
    }
}

/*# sourceMappingURL=estilos.css.map */

.error-text {
    color: #f00;
    font-size: 12px;
    text-align: left;
    width: 100%;
}

.error-text2 {
    color: #f00;
    font-size: 12px;
    text-align: left;
    width: 94%;
}


.c-pointer {
    cursor: pointer;
}

.map-container {
    max-width: 100%;
}

:host ::ng-deep .cuerpo .contenidopol .title {
    font-size: 30px;
}

.precio_usd {
    color: #436ac9;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.precio_usd b {
    font-size: 18px;
}

.d_none {
    display: none;
}

.text-ligth {
    color: #fff  !important;
}